<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KOLPanel样本库</title>
    <link href="../../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../../css/JFC/common.css">
    <link rel="stylesheet" href="../../../css/JFC/operationalCenter.css">
    <link rel="stylesheet" href="../../../css/JFC/membership.css">
    <style>
        #button_table button{
            display: none;
        }
        #precise-search{
            display: block;
            border: 1px solid #000000;
            margin-bottom: 1rem;
        }
        .more-conditions:after{
            content: '';
            display: block;
            clear: both;
        }
        #query:after{
            content: '';
            display: block;
            clear: both;
        }
        .value{
            position: relative;
        }
        .value ul.options{
            position: absolute;
            top: 22px;
            left: 0;
            height: 150px;
            width: 240px;
            background-color: #ffffff;
            border: 1px solid #000000;
            overflow: scroll;
        }
        .value ul.options li{
            font-size: 1rem;
            cursor: pointer;
            list-style: none;
            text-align: center;
        }
        .input-wrap label, .input-wrap input, .input-wrap select, .input-wrap option{
            height: 3.4rem;
            line-height: 3.4rem;
            font-size: 1rem;
        }
        .input-wrap label{
            width: 35%;
        }
        .input-wrap input, .input-wrap select{
            width: 60%;
        }
    </style>
</head>
<body>
<div id="root" @click="removeOption_query">
    <div id="nav" @click="switchBoard">
        <ul>
            <li :class="{active: status.active_board==='duplicate_check'}" target="duplicate_check">查重</li>
            <li :class="{active: status.active_board==='update'}" target="query" method="update">修改</li>
            <li :class="{active: status.active_board==='delete'}" target="query" method="delete">删除</li>
            <li :class="{active: status.active_board==='approve'}" target="approve">审核</li>
        </ul>
    </div>
    <div id="boards">
        <div id="duplicate_check" class="board" v-if="status.active_board==='duplicate_check'">
            <div class="coming_soon" style="font-size: 3rem;text-align: center">敬请期待!</div>
        </div>
        <div id="query" v-if="status.active_board === 'query'">
            <div id="precise-search">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-10 col-sm-offset-10 col-md-offset-10 col-lg-offset-10 input-wrap">
                        <button class="btn btn-md btn-info" @click="preciseQuery_query">查询</button>
                    </div>
                </div>
                <div class="more-conditions spreading">
                    <div id="exact">
                        <div class="chose col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div id="alters">
                                <!--<div id="alters-container">-->
                                <div class="check-all">
                                    <label for="check_all"><a>全选</a></label>
                                    <input type="checkbox" id="check_all" @change="checkAll_query">
                                </div>
                                <ul>
                                    <li v-for="alt in precise.alters" v-show="precise.chosen.indexOf(alt) === -1" :class="{ active: precise.status.active === alt }" @click="activeCheck_query(alt)" @dblclick="chooseSingle_query(alt)">
                                        <label><a>{{ alt.name.length < 10 ? alt.name : alt.name.slice(0,7) + '...' }}</a></label>
                                        <input type="checkbox" :checked="precise.status.checked.indexOf(alt) > -1" @change="changeCheck_query(alt)">
                                    </li>
                                </ul>
                                <!--</div>-->
                            </div>
                            <div id="chose">
                                <span class="glyphicon glyphicon-chevron-right chose-button" @click="chooseMulti_query"></span>
                                <span class="glyphicon glyphicon-chevron-left back-button disabled" @click="backMulti_query"></span>
                            </div>
                            <div id="chosen">
                                <div class="check-all">
                                    <label for="pick_all"><a>全选</a></label>
                                    <input type="checkbox" id="pick_all" @change="pickAll_query">
                                </div>
                                <ul>
                                    <li v-for="ch in precise.chosen" :class="{ active: precise.status.backing === ch }" @click="activePick_query(ch)" @dblclick="backSingle_query(ch)">
                                        <a>{{ ch.name.length < 10 ? ch.name : ch.name.slice(0,7) + '...' }}</a>
                                        <input type="checkbox" :checked="precise.status.picked.indexOf(ch) > -1" @change="changePick_query(ch)">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="conditions" class="filter col-xs-10 col-sm-5 col-md-5 col-lg-5">
                            <table>
                                <thead>
                                <tr>
                                    <th style="width: 30%">逻辑</th>
                                    <th style="width: 20%">字段</th>
                                    <th style="width: 15%">逻辑</th>
                                    <th style="width: 25%">信息类别</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="con in precise.conditions" :id="'row_' + precise.conditions.indexOf(con)">
                                    <!--<td style="width: 10%" class="button-divide" v-if="con.relation === 'none'" :rowspan="conditions.length">-->
                                    <!--<button class="glyphicon glyphicon-saved btn btn-success" :disabled="conditions.packed" @click="divide(conditions)"></button>-->
                                    <!--</td>-->
                                    <td class="buttons" style="width: 10%">
                                        <button class="glyphicon glyphicon-minus btn btn-warning" :disabled="con.relation === 'none'" @click="minus_query(con)"></button>
                                        <button class="glyphicon glyphicon-plus btn btn-info" @click="plus_query(con)"></button>
                                    </td>
                                    <td>
                                        <select class="form-control" :value="con.field" @change="changeFieldName_query($event,con)">
                                            <option value="">请选择字段名称</option>
                                            <option v-for="ch in precise.chosen" :value="ch.id">{{ ch.name }}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" v-model="con.operator">
                                            <option value="等于">等于</option>
                                            <option value="不等于">不等于</option>
                                            <option value="开头是">开头是</option>
                                            <option value="结尾是">结尾是</option>
                                            <option value="包含">包含</option>
                                            <option value="不包含">不包含</option>
                                        </select>
                                    </td>
                                    <td class="value">
                                        <input class="form-control" type="text" placeholder="信息类别" v-model="con.value" @click="displayOption_query($event,con)">
                                        <ul class="options" v-if="precise.options_display === con">
                                            <li v-show="opt.indexOf(con.value) > -1" v-for="opt in precise.options" :data="opt" @click="assignment_query(con,opt)">{{ opt }}</li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="update" v-if="status.active_board === 'update'">
            <table id="table_update">
                <thead>
                <tr>
                    <th>id</th>
                    <th>（不可更改）</th>
                    <th v-for="r in status.checked_row">{{ r.hId }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>医院名称</th>
                    <td>
                        <input v-model="to_update.hosName" type="text" placeholder="">
                    </td>
                    <td class="shuttle" :class="{same: to_update.hosName ===r.hosName}" v-for="r in status.checked_row" @click="assign(r, 'hosName')">{{ r.hosName }}</td>
                </tr>
                <tr>
                    <th>单位级别</th>
                    <td>
                        <select v-model="to_update.hoslelId">
                            <option value="">单位级别</option>
                            <option value="一级">一级</option>
                            <option value="二级">二级</option>
                            <option value="三级">三级</option>
                            <option value="未知">未知</option>
                            <option value="其他">其他</option>
                        </select>
                        
                    </td>
                    <td class="shuttle" :class="{same: to_update.hoslelId ===r.hoslelId}" v-for="r in status.checked_row" @click="assign(r, 'hoslelId')">{{ r.hoslelId }}</td>
                </tr>
                <tr>
                    <th>单位等级</th>
                    <td>
                        <select v-model="to_update.hosgraId">
                            <option value="">单位等级</option>
                            <option value="甲等">甲等</option>
                            <option value="乙等">乙等</option>
                            <option value="丙等">丙等</option>
                            <option value="未知">未知</option>
                            <option value="其他">其他</option>
                        </select>
                        
                    </td>
                    <td class="shuttle" :class="{same: to_update.hosgraId ===r.hosgraId}" v-for="r in status.checked_row" @click="assign(r, 'hosgraId')">{{ r.hosgraId }}</td>
                </tr>
                <tr>
                    <th>省份</th>
                    <td>
                        <select class="province" v-model="to_update.hosProvince">
                            <option value="">请选择</option>
                        </select>
                    </td>
                    <td class="shuttle" :class="{same: to_update.hosProvince ===r.hosProvince}" v-for="r in status.checked_row" @click="assign(r, 'hosProvince')">{{ r.hosProvince }}</td>
                </tr>
                <tr>
                    <th>城市</th>
                    <td>
                        <select class="city" v-model="to_update.hosCity">
                            <option value="">请选择</option>
                        </select>
                    </td>
                    <td class="shuttle" :class="{same: to_update.hosCity ===r.hosCity}" v-for="r in status.checked_row" @click="assign(r, 'hosCity')">{{ r.hosCity }}</td>
                </tr>
                <tr>
                    <th>区县</th>
                    <td>
                        <select class="district" v-model="to_update.hosDistrict">
                            <option value="">请选择</option>
                        </select>
                    </td>
                    <td class="shuttle" :class="{same: to_update.hosDistrict ===r.hosDistrict}" v-for="r in status.checked_row" @click="assign(r, 'hosDistrict')">{{ r.hosDistrict }}</td>
                </tr>
                <tr>
                    <th>单位类型</th>
                    <td>
                        <select v-model="to_update.typeId">
                            <option value="">单位类型</option>
                            <option value="1">综合</option>
                            <option value="2">专科</option>
                            <option value="3">未知/其他</option>
                        </select>
                        
                    </td>
                    <td class="shuttle" :class="{same: to_update.typeId ===r.typeId}" v-for="r in status.checked_row" @click="assign(r, 'typeId')">{{ r.type }}</td>
                </tr>
                <tr>
                    <th>盈利性质</th>
                    <td>
                        <select v-model="to_update.profitId">
                            <option value="">盈利性质</option>
                            <option value="1">盈利</option>
                            <option value="2">非盈利</option>
                            <option value="3">未知/其他</option>
                        </select>
                        
                    </td>
                    <td class="shuttle" :class="{same: to_update.profitId ===r.profitId}" v-for="r in status.checked_row" @click="assign(r, 'profitId')">{{ r.profit }}</td>
                </tr>
                <tr>
                    <th>单位属性</th>
                    <td>
                        <select v-model="to_update.propertyId">
                            <option value="">单位属性</option>
                            <option value="1">公立</option>
                            <option value="2">私立</option>
                            <option value="3">未知/其他</option>
                        </select>
                        
                    </td>
                    <td class="shuttle" :class="{same: to_update.propertyId ===r.propertyId}" v-for="r in status.checked_row" @click="assign(r, 'propertyId')">{{ r.property }}</td>
                </tr>
                <tr>
                    <th>医院电话</th>
                    <td>
                        <input v-model="to_update.hosTel" type="text" placeholder="">
                    </td>
                    <td class="shuttle" :class="{same: to_update.hosTel ===r.hosTel}" v-for="r in status.checked_row" @click="assign(r, 'hosTel')">{{ r.hosTel }}</td>
                </tr>
                <tr>
                    <th>医院网址</th>
                    <td>
                        <input v-model="to_update.hosWebsite" type="text" placeholder="">
                    </td>
                    <td class="shuttle" :class="{same: to_update.hosWebsite ===r.hosWebsite}" v-for="r in status.checked_row" @click="assign(r, 'hosWebsite')">{{ r.hosWebsite }}</td>
                </tr>
                <tr>
                    <th>成立时间</th>
                    <td>
                        <input id="hosEstablishmentTime_to_update" :value="to_update.hosEstablishmentTime" type="text" placeholder="">
                    </td>
                    <td class="shuttle" :class="{same: to_update.hosEstablishmentTime ===r.hosEstablishmentTime}" v-for="r in status.checked_row" @click="assign(r, 'hosEstablishmentTime')">{{ r.hosEstablishmentTime }}</td>
                </tr>
                <tr>
                    <th>法人</th>
                    <td>
                        <input :value="to_update.hosLegalPerson" type="text" placeholder="">
                    </td>
                    <td class="shuttle" :class="{same: to_update.hosLegalPerson ===r.hosLegalPerson}" v-for="r in status.checked_row" @click="assign(r, 'hosLegalPerson')">{{ r.hosLegalPerson }}</td>
                </tr>
                <tr>
                    <th>注册资金</th>
                    <td>
                        <input v-model="to_update.hosRegisteredCapital" type="text" placeholder="">
                    </td>
                    <td class="shuttle" :class="{same: to_update.hosRegisteredCapital ===r.hosRegisteredCapital}" v-for="r in status.checked_row" @click="assign(r, 'hosRegisteredCapital')">{{ r.hosRegisteredCapital }}</td>
                </tr>
                </tbody>
            </table>
            <div>
                <button id="submit_update" class="btn btn-success btn-sm" @click="submitUpdate">保存</button>
            </div>
        </div>
        <div id="approve" class="board" v-if="status.active_board==='approve'"></div>
        <div id="result_display">
            <div id="button_table">
                <button class="btn btn-sm btn-warning" id="method_update" @click="updateMulti">修改</button>
                <button class="btn btn-sm btn-danger" id="method_delete" @click="deleteMulti">删除</button>
                <button class="btn btn-sm btn-info" id="method_merge" @click="mergeMulti">合并</button>
            </div>
            <table id="result"></table>
        </div>
    </div>
</div>
<script src="../../../js/jquery.js"></script>
<script src="../../../js/vue.js"></script>
<script src="../../../js/bootstrap.min.js"></script>
<script src="../../../js/bootstrap-table.min.js"></script>
<script src="../../../js/bootstrap-table-zh-CN.min.js"></script>
<script src="../../../js/laydate.js"></script>
<script src="../../../js/jfc/kangpai/operationCenterHospital.js"></script>
<script src="../../../js/lists.js"></script>
<script src="../../../js/Chains.js"></script>
</body>
</html>