*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid #999999;*/
}
#table_container, #graphs{
    display: block;
    min-width: 80rem;
    width: 100%;
    margin: 0 auto;
    vertical-align: top;
}
#table_container>.wrap.table{
    display: block;
    width: 50%;
    padding: 2rem 3rem;
    margin: 0 auto;
}
#table_container>.wrap.table{
    width: 100%;
}
#table_container>.wrap th, #table_container>.wrap td{
    font-size: 1.4rem;
    min-height: 3rem;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #888888;
}
#table_container>.wrap table{
    width: 100%;
    background-color: transparent;
}
/* #table_container>.wrap td{
    text-align: center;
    
} */
#graphs>.graphy{
    display: inline-block;
    width: 40rem;
    height: 38rem;
}