<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>KOLPanel</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/index/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-select.min.css">
    <link href="../../css/kol/custom.min.css" rel="stylesheet">
    <style>
        *{
            box-sizing: border-box;
        }
        #root{
            width: 100%
        }
        table{
            width: 100%;
            font-size: 0;
        }
        table th,table td{
            border: 1px solid #cccccc;
            font-size: 14px;
        }
        table th{
            text-align: center;
        }
        .link{
            text-align: center;
            text-decoration: underline;
        }
    </style>
</head>

<body class="nav-md">
<!--<div id="root">-->
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="../../main_kangpai" class="site_title"><span>KOLPanel</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="/jfcpanel/images/avatars/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>欢迎,</span>
                        <h2 class="user-name"></h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>目录</h3>
                        <ul class="nav side-menu" id="side_menu">
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
					<div class="back toggle">
                        <a onclick="history.back()"><i class="fa fa-reply"></i></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="/jfcpanel/images/avatars/img.jpg" alt="">
                                <span class="user-name"></span>
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                            	 <li><a href="../../html/kol/page.html">账号设置</a></li>
                                <li><a href="#">帮助</a></li>
                                <li><a href="./kolLogin.html"><i class="fa fa-sign-out pull-right"></i> 退出</a></li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge bg-green"></span>
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <a>
                                        <span class="image"><img src="/jfcpanel/images/avatars/img.jpg" alt="Profile Image" /></span>
                                        <span>
                                            <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                        </span>
                                        <span class="message">
                                            Film festivals used to be do-or-die moments for movie makers. They were where...
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="/jfcpanel/images/avatars/img.jpg" alt="Profile Image" /></span>
                                        <span>
                                            <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                        </span>
                                        <span class="message">
                                            Film festivals used to be do-or-die moments for movie makers. They were where...
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="/jfcpanel/images/avatars/img.jpg" alt="Profile Image" /></span>
                                        <span>
                                            <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                        </span>
                                        <span class="message">
                                            Film festivals used to be do-or-die moments for movie makers. They were where...
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="/jfcpanel/images/avatars/img.jpg" alt="Profile Image" /></span>
                                        <span>
                                            <span>John Smith</span>
                                            <span class="time">3 mins ago</span>
                                        </span>
                                        <span class="message">
                                            Film festivals used to be do-or-die moments for movie makers. They were where...
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="text-center">
                                        <a>
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-cog"></i>
                                <!--<span class="badge bg-green">0</span>-->
                            </a>
                            <ul id="menu2" class="dropdown-menu list-unstyled msg_list" role="menu">

                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div id="root">
            <div class="right_col" role="main">
                <div id="management">
                    <table>
                        <thead>
                        <tr>
                            <th colspan="4">部署信息管理列表</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>流程名称</th>
                            <th>发布时间</th>
                            <th>操作</th>
                        </tr>
                        <tr v-for="mgt in management">
                            <td>{{ mgt.id }}</td>
                            <td>{{ mgt.name }}</td>
                            <td>{{ mgt.time }}</td>
                            <td class="link">
                                <a href="javascript: void (0);"  @click="deleteT(mgt)">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="message">
                    <table>
                        <thead>
                        <tr>
                            <th colspan="8">流程定义信息列表</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>流程定义的KEY</th>
                            <th>流程定义的版本</th>
                            <th>流程定义的规则文件名称</th>
                            <th>流程定义的规则图片名称</th>
                            <th>部署ID</th>
                            <th>操作</th>
                        </tr>
                        <tr v-for="msg in message">
                            <td>{{ msg.id }}</td>
                            <td>{{ msg.name }}</td>
                            <td>{{ msg.key }}</td>
                            <td>{{ msg.version }}</td>
                            <td>{{ msg.file }}</td>
                            <td>{{ msg.picture }}</td>
                            <td>{{ msg.deploy_id }}</td>
                            <td class="link">
                                <a :href="msg.link" target="_blank">
                                    查看流程图
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="define">
                    <table>
                        <thead>
                        <tr>
                            <th>部署流程定义</th>
                        </tr>
                        </thead>
                    </table>
                    <form method="post" enctype="multipart/form-data" :action="upload_url" id="excelImport">
                        <input type="text" name="name" placeholder="流程名称" id="upload_name">
                        <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet/application/vnd.ms-excel" id="upload">
                        <input type="submit" value="上传流程图" class="btn btn-default btn-xs" id="excel_save">
                    </form>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                <!--Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>-->
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
<!--</div>-->

<!-- jQuery -->
<script src="../../js/jquery.js"></script>
<script src="../../js/vue.js"></script>
<!-- Bootstrap -->
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/bootstrap-table.min.js"></script>
<script src="../../js/bootstrap-table-zh-CN.min.js"></script>
<script src="../../js/laydate.js"></script>
<script src="../../js/kol/menu.js"></script>
<script src="../../js/kol/custom.min.js"></script>
<script src="../../js/system/progressDeploy.js"></script>
</body>
</html>